//- open-software-base-explorer -- Part of codegouv project - generates static HTML files from YAML data
//- By: Marine Gout <marine.gout@data.gouv.fr>
//-     Emmanuel Raviart <emmanuel.raviart@data.gouv.fr>
//-     Guillaume Royer <guillaume.royer@data.gouv.fr>
//-
//- Copyright (C) 2015 Etalab
//- https://git.framasoft.org/codegouv/open-software-base-explorer
//-
//- open-software-base-explorer is free software; you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as
//- published by the Free Software Foundation, either version 3 of the
//- License, or (at your option) any later version.
//-
//- open-software-base-explorer is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <http:>www.gnu.org/licenses/>.
extends ./layout/layout.jade

block title
  | Index

block content
  .row
    .col-md-6.col-md-offset-3
      form
        .form-group
        input.form-control.input-lg#searchInput(placeholder=__('Search'))
  h1= (typeof search !== 'undefined' ? __('Results for "{{ search }}"', { search }) : __('Index'))
  -
    var programsByFirstLetter = {};
    programs
      .sort((programA, programB) => (programA.name.localeCompare(programB.name)))
      .forEach(program => {
        if (!programsByFirstLetter[program.name[0]]) {
          programsByFirstLetter[program.name[0]] = [];
        }
        programsByFirstLetter[program.name[0]].push(program);
      });

  each sameFirstLetterprograms, firstLetter in programsByFirstLetter
    .index-line
      .index-letter
        h1= firstLetter

      .index-list
          each program in sameFirstLetterprograms
            a(href=('/' + locale + '/programs/' + program.name))
              .col-md-4.col-xs-6
                .img-box
                  if (typeof program.canonical.screenshot !== 'undefined')
                    img(src=program.canonical.screenshot.value style="width:100%; height:auto")
                span.program-name.my2
                  = program.canonical.canonicalName ? program.canonical.canonicalName.value : program.name

block append javascript
  script(src="/static/dist/js/selectize.min.js")
  script.
    $(document).ready(function() {
      $('#searchInput').selectize({
        valueField: 'url',
        searchField: 'name',
        labelField: 'name',
        create: function(input, callback) {
          return { url: '/#{locale}/programs/search/' + input, name: input };
        },
        load: function(query, callback) {
            if (!query.length) return callback();
            $.ajax({
                url: '/api/programs/search/' + query,
                type: 'GET',
                dataType: 'json',
                error: function() {
                    callback();
                },
                success: function(res) {
                    for (var i = 0; i < res.length; i++) {
                      res[i].url = '/#{locale}/programs/' + res[i].name;
                    }
                    return callback(res);
                }
            });
        },
        render: {
          option_create: function(item, escape) {
            return '<div class="create">#{__('Search')} "' + item.input + '"</div>';
          }
        },
        maxItems: 1,
        addPrecedence: true,
        dropdownParent: 'body',
        onChange: function(value) {
          window.location.href = value
        }
      });
    });
